<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Edit photo details." />
    <meta name="keywords" content="edit, photo, admin" />
    <title>Edit Photo</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin-dashboard.css') }}"
    />
      <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='icons/site.webmanifest') }}"
    />
  </head>
  <body>
    <header>
      <h1>Admin Dashboard</h1>
      <div class="top-right-button">
        <a href="/logout" class="menu-button">Logout</a>
        <a href="/" class="menu-button">Homepage</a>
      </div>
    </header>
    <main>
      <section class="edit-food-form">
        <h2>Edit Gallery Photo</h2>
        <form
          action="/update-photo/{{ photo.id }}"
          method="POST"
          enctype="multipart/form-data"
        >
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            value="{{ photo.title }}"
            required
          />

          <label for="image">Photo Image:</label>
          <input type="file" id="image" name="image" accept="image/*" />

          <button type="submit">Update Photo</button>
        </form>
      </section>
    </main>
  </body>
</html>
