<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Photo edited successfully." />
    <meta name="keywords" content="photo, edited, success" />
    <title>Photo Updated</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin-dashboard.css') }}"
    />
      <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='icons/site.webmanifest') }}"
    />
  </head>
  <body>
    <header>
      <h1>Photo Updated</h1>
    </header>

    <main class="deleted-box">
      <h2>Photo with ID {{ photo_id }} has been updated.</h2>
      <a href="/admin/dashboard" class="menu-button"> Back to Dashboard </a>
    </main>
  </body>
</html>
