<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Food item edited successfully." />
    <meta name="keywords" content="food, edited, success" />
    <title>Food Edited Successfully</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin-dashboard.css') }}"
    />
      <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='icons/favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='icons/favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='icons/site.webmanifest') }}"
    />
  </head>
  <body>
    <header>
      <h1>Admin Dashboard</h1>
      <div class="top-right-button">
        <a href="/login" class="menu-button">Logout</a>
        <a href="/" class="menu-button">Homepage</a>
      </div>
    </header>
    <main class="edited-box">
      <section>
        <h1>Food Updated Successfully!</h1>
        <p>Food with ID {{ food_id }} has been edited.</p>

        <a href="/admin/dashboard" class="back-btn">Back to Dashboard</a>
      </section>
    </main>
  </body>
</html>
